.title {
  margin: 0;
  font-weight: 400;
  color: var(--color-white);
  line-height: 1.1;
}

.sm {
  font-size: 24px;
}

.md {
  font-size: 32px;
}

.lg {
  font-size: 40px;
}

.accent {
  color: var(--color-green);
}

@media (max-width: 1023px) {
  .sm,
  .md,
  .lg {
    font-size: var(--font-size-mobile-max);
  }
}
